/* App.css */

.App {
  text-align: center;
  background-color: #000;
  color: white;
  height: 100vh;
  font-family: 'Helvetica', sans-serif;
}

.App-header {
  background-color: #1a1a1a;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}

.upper-content {
  display: flex;
  justify-content: space-between;
}

.documents-section, .risk-section {
  flex: 1; /* This will make both sections grow equally */
  margin: 10px;
  background: #333;
  /* padding: 20px; */
  border-radius: 10px;
}

.risk-section{
  padding: 20px;
}

.documents-section{
  border: 5px dashed #c6c6c6; /* 2px width, dashed style, black color */
  border-width: 4px;
  padding: 50px;
}

.word-summary-section {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  /* If you want the word-summary to take the full width */
  margin-top: 20px; /* This will provide some space between the upper content and word summary */
}

/* Adjust the overall content padding to avoid doubling with the internal margins */
.content {
  padding: 10px; /* Reduced padding because margins on sections add spacing */
}

::-webkit-file-upload-button {
  margin: 15px 3px;
  padding: 100px 50px 0px;
  border: none;
  border-radius: 20px;
  background-color: #000000;
  color: white;
  cursor: pointer;
  background-image: url("../Images/upload_button.png"); /* Specify the image URL */
  background-size: 8rem; /* Cover the button with the background image */
  background-repeat: no-repeat;
}

button:hover {
  background-color: #555;
}

.risk-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.risk-indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 10px;
}